.nav-wrapper {
    background-color: white;
}
.parallax-container {
    height: 550px;
}
.myInput {
    background-color: white;
}
body {
    font-family: 'Special Elite', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}
#LOGO {
    font-weight: bolder;
    font-size: 40px;
}
main {
    flex: 1 0 auto;
}
.row {
    padding: 20px;
}
.card {
    max-width: 100%;
    max-height: 100%;
}
#map {
    min-height: 400px;
    min-width: 1000px;

}
.description {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
